* {
  box-sizing: border-box;
}

body {
  background-color: #ee9ca7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

@import url(https://fonts.googleapis.com/css?family=Lato:300italic);

html,
.padre {
  top: -100px;
  position: relative;
}

#cake {
  display: block;
  position: relative;
  margin: -10em auto 0 auto;
}

.velas {
  background: #ffffff;
  border-radius: 10px;
  position: absolute;
  top: 228px;
  left: 50%;
  margin-left: -2.4px;
  margin-top: -8.33333333px;
  width: 5px;
  height: 35px;
  transform: translateY(-300px);
  backface-visibility: hidden;
  animation: in 500ms 6s ease-out forwards;
}

.velas:after,
.velas:before {
  background: rgba(255, 0, 0, 0.4);
  content: "";
  position: absolute;
  width: 100%;
  height: 2.22222222px;
}

.velas:after {
  top: 25%;
  left: 0;
}

.velas:before {
  top: 45%;
  left: 0;
}


.fuego {
  border-radius: 100%;
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -2.6px;
  width: 6.66666667px;
  height: 18px;
}

.fuego:nth-child(1) {
  animation: fuego 2s 6.5s infinite;
}

.fuego:nth-child(2) {
  animation: fuego 1.5s 6.5s infinite;
}

.fuego:nth-child(3) {
  animation: fuego 1s 6.5s infinite;
}

.fuego:nth-child(4) {
  animation: fuego 0.5s 6.5s infinite;
}

.fuego:nth-child(5) {
  animation: fuego 0.2s 6.5s infinite;
}

@keyframes fuego {

  0%,
  100% {
    background: rgba(254, 248, 97, 0.5);
    box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
    transform: translateY(0) scale(1);
  }

  50% {
    background: rgba(255, 50, 0, 0.1);
    box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
    transform: translateY(-20px) scale(0);
  }
}

@keyframes in {
  to {
    transform: translateY(0);
  }
}

.text {
  color: #8b6a60;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-style: italic;
  text-align: center;
}

.frame {
  position: relative;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  text-align: center;
}

.container {
  height: 120%;
  overflow: hidden;
  position: absolute;
  z-index: 1;
}

.container .balloon {
  display: inline-block;
  width: 120px;
  height: 145px;
  background: #85d6ff;
  border-radius: 80%;
  position: relative;
  opacity: 0.8;
  -webkit-box-shadow: inset -10px -10px 0 rgba(0, 0, 0, 0.07);
  box-shadow: inset -10px -10px 0 rgba(0, 0, 0, 0.07);
  margin: 20px 30px;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  z-index: 10;
  -webkit-animation: balloons 4s ease-in-out infinite normal;
  animation: balloons 4s ease-in-out infinite normal;
  -webkit-transform-origin: bottom center;
  -ms-transform-origin: bottom center;
  transform-origin: bottom center;
}

.container .balloon:before {
  content: "▲";
  font-size: 20px;
  color: #85d6ff;
  display: block;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: -12px;
  z-index: -100;
}

.container .balloon:after {
  display: inline-block;
  top: 153px;
  position: absolute;
  height: 250px;
  width: 1px;
  margin: 0 auto;
  content: "";
  background: rgba(0, 0, 0, 0.2);
}

.container .balloon:nth-child(2) {
  background: #deb3ff;
  -webkit-animation-duration: 3.5s;
  animation-duration: 3.5s;
}

.container .balloon:nth-child(2):before {
  color: #d8b8ff;
}

.container .balloon:nth-child(3) {
  background: #4dff52;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}

.container .balloon:nth-child(3):before {
  color: #4dff52;
}

.container .balloon:nth-child(4) {
  background: #42f2ff;
  -webkit-animation-duration: 4.5s;
  animation-duration: 4.5s;
}

.container .balloon:nth-child(4):before {
  color: #42f2ff;
}

.container .balloon:nth-child(5) {
  background: #ce8355;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
}

.container .balloon:nth-child(5):before {
  color: #a96942;
}

.container .balloon:nth-child(6) {
  background: #ffd6e7;
  -webkit-animation-duration: 5.5s;
  animation-duration: 5.5s;
}

.container .balloon:nth-child(6):before {
  color: #ffd6e7;
}

.container .balloon:nth-child(7) {
  background: #ffa352;
  -webkit-animation-duration: 2.9s;
  animation-duration: 2.9s;
}

.container .balloon:nth-child(7):before {
  color: #ffa352;
}

.container .balloon:nth-child(8) {
  background: #ffff47;
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
}

.container .balloon:nth-child(8):before {
  color: #ffff47;
}

@-webkit-keyframes balloons {
  0% {
    top: 100%;
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }

  100% {
    top: -100%;
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
}

@keyframes balloons {
  0% {
    top: 100%;
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }

  100% {
    top: -100%;
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
}

#confetti {
  height: 100%;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: -1;
}

button {
  background-color: #47a386;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 14px;
  padding: 10px 25px;
}

.modal-container {
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  position: fixed;
  pointer-events: none;
  opacity: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: opacity 0.3s ease;
}

.show {
  pointer-events: auto;
  opacity: 1;
}

.modal {
  background-color: #fff;
  width: 600px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.modal h1 {
  margin: 0;
}

.modal p {
  opacity: 0.7;
  font-size: 14px;
}

.contenedor {
  z-index: 0;
  position: absolute;
}

.di2 {
  position: absolute;
  z-index: 2;
}